
* {
  box-sizing: border-box;
}

body {
  background-color: #d6d6d6;
  background-image: url("../images/background.jpg");
  background-repeat: repeat-x; 
}

.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
 }

.container {
  display: block;
  width: 80%;
  margin: 40px auto;
}

.main {
  display: inline-block;
  width: 60%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}
.aside {
  display: inline-block;
  width: 24%;
  background-color: white;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
}

.main img {
  width: 100%;
}

h2 {
  font-size: 28px;
  margin: 35px, 0, 14px, 19px;
}

a {
  color: #f63a05;
  text-decoration: none;
}

.article {
  border-bottom: 1px dotted black;
}
.post-footer {
  
  border-bottom: 1px solid black;
}

h3 {
  font-size: 18px;
}
ul {
  padding: 0px;
}

li {
  list-style: none;
}

.aside img {
  margin: 15px 0;
}
footer {
  display: block;
  text-align: center;
  margin: 0 auto;
}

