<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>About</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header> 
		<p class="say_goodbye">Goodbye to yahoo finance</p>
		
		<div>opening price is <%= @stock.op %></div>
		<div>price is <%= @stock.l %></div>
		<div>52-week high is <%= @stock.hi52 %></div>
		<div>52-week low is <%= @stock.lo52 %></div>

	</header>
	
</body>
</html>