* {
	box-sizing: border-box;
}
 
ul {
	text-decoration-color: white;
    padding: 10px;
    background: white;

}


/* nav ul {
	display: flex;
	justify-content: space-between;
	padding: 0
	margin-top:0;
}


//nav li {
	flex: 1
	flex-grow:1;
}
*/

.menu li{
	border-right: 1px solid white;
	font-size: 25px;
	text-decoration-color: white;
    padding: 0px 10px 0px 10px;
    display: inline;
   	background-color: black;
}
.menu li a {
	color: white;
   	text-decoration: none;
} 

li {
	border-right: 1px solid white;
	font-size: 15px;
	text-decoration-color: white;
    padding: 0px 10px 0px 10px; 
   	text-decoration: none;
   	//display: inline;
}
main {
	font-family: 'Allerta', sans-serif;
	color: darkgrey;
 	display: inline-block;
  	vertical-align: top;
  	background-color: white;
  	width: 55%;
  	margin: 0 50px 0 50px;

}

aside {
	font-family: 'Allerta', sans-serif;
	padding: 20px;
  	display: inline-block;
  	vertical-align: top;
  	background-color: white;
  	width: 27%;
  	float: right;
  	color: darkgrey;
  	margin-right: 60px;
}
p {

}
.sitetitle {
	margin: 0 50px 0 50px;
	display: inline
}
.firstcharacter {
	color: lightgrey;
  	float: left;
  	font-family: Allerta;
  	font-size: 75px;
  	line-height: 60px;
  	padding-top: 4px;
  	padding-right: 8px;
  	padding-left: 3px;
}
h2 {
	color: darkgrey;
}
h3 {
	color: darkgrey;
}
img {
	width: 100%;
	height: 100%;
}
.Ad {
	width: 300px;
	height: 300px;
	background-color: grey;
	color: lightgrey;
	font-size: 100px;
	display: inline-block;
	vertical-align: middle;
}
.Ad span{
	display: inline-block;
	text-align: center;
	
}
.continueslink {
    color: #f63a05; 
   	text-decoration: none;
   	float: right;
}
.posts {
	color: orange;
	margin: 0 20px;
}
.bottomfooter {
	margin: 0 50px 0 50px;
 	padding-top: 20px;
	width: 55%;
	float: left;
	overflow: hidden;
}
article > footer {
  border-bottom: 1px solid black;	
}
footer {
	height: 50px;
	color: lightgrey;
}

.reflink{
	color: orange;
   	text-decoration: none;
   	float: center;
}
