


<h1>List of photographers you searched for:</h1>
<div class="container">
	<ul>
	<% @photographers.each do |photographer| %>
		<li>
			<%= photographer.name %>
			<a href="/photographers/<%= photographer.id %>"></a>
		</li>				
		
	<% end %>
	</ul>
</div>






