<div class="container">
	<div class="about_page_main">
		<h2>About</h2>>
		<p class="about">When you find a movie that looks interesting, get more information by heading to its individual recommendation page, where you can find information on where to stream the title and the ability to start watching with one click.</p>
	</div>
</div>

<!-- <div class="container">
	<div class="result_page_main">
		<div class="poster_and_info"> -->


			<!-- <div class="title"><%= @film["Title"] %>(<%= @film["Year"] %>)</div>
			<div><img class="movie_poster" src="<%= search["Poster"] %>"></div>
			<div class="aside">
				
				<button class="watch_list">+ Add to Watchlist</button>
			</div>
		</div>
	</div>
</div> -->