<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div class="container">
	<div class="main">
		<div class="movie_input"> 
			

			<form action="movie">
				<input type="text" name="movie_name" placeholder="movie's name">
				<button type="submit">search</button>
			</form>
		


		</div>	
		<div class="lastest_movie">
			<div class="whats_on">Lastest Movies:</div>
			<div class="all_4_posters">
				<div class="lastest_m1">
				<img class="lastest_movie_poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTUxODU0NjQ2Nl5BMl5BanBnXkFtZTgwMTc4NDQ0MzI@._V1_UY1200_CR64,0,630,1200_AL_.jpg">
				<img class="stars" src="https://schindlerslisteight.files.wordpress.com/2012/12/four_half-stars_01.png">
				<a href="">Insidious: The Last Key(2018)</a> 
				</div>
				<div class="lastest_m2">
				<img class="lastest_movie_poster" src="https://images-na.ssl-images-amazon.com/images/M/MV5BYjQ0ZWJkYjMtYjJmYS00MjJiLTg3NTYtMmIzN2E2Y2YwZmUyXkEyXkFqcGdeQXVyNjk5NDA3OTk@._V1_UY1200_CR90,0,630,1200_AL_.jpg">
				<img class="stars" src="https://youwritefiction.files.wordpress.com/2016/09/four-stars_0.png?w=656">
				<a href="">The Greatest Showman(2017)</a>
				</div>
				<div class="lastest_m3">
				<img class="lastest_movie_poster" src="https://lumiere-a.akamaihd.net/v1/images/the-last-jedi-theatrical-poster-film-page_bca06283.jpeg?region=0%2C0%2C480%2C711">
				<img class="stars" src="https://youwritefiction.files.wordpress.com/2016/09/four-stars_0.png?w=656">
				<a href="">Star Wars: The Last Jedi(2017)</a>
				</div>
				<div class="lastest_m4">
				<img class="lastest_movie_poster" src="https://pbs.twimg.com/media/DKQk3ucV4AAxOlw.jpg">
				<img class="stars" src="https://schindlerslisteight.files.wordpress.com/2012/12/four_half-stars_01.png">
				<a href="">Jumanji: Welcome to the Jungle(2017)</a>
				</div>
			</div>
		</div>
	
	</div>
</div>
</body>
</html>