<h1><%= @house.name %></h1>
<% @students.each do |student| %>
  <div class="student">
    <h2><a href="/students/<%= student.id %>"><%= student.name %></a></h2>
    <%= image_tag student.img_url %>
  </div>
<% end %>
